:root {
  --heading-font: "Abril Fatface", cursive;
  --reg-font: "Frank Ruhl Libre", serif;

  --fw-bold: 700;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-med-light: 500;
  --fw-med: 600;

  --color: #f2ac32;
  --color-rgb: rgb(242, 172, 50);
  --color-2: #f2e832;
  --white: white;
  --light-gray: #f4eded;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--reg-font);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 6rem 0;
}

.container-alt {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  width: 90%;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-title {
  color: var(--color);
  font-size: 3rem;
  font-family: var(--heading-font);
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

/* header/banner/nav */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/banner-img-not-resized.jpg);
  background-size: cover;
  background-position: center 60%;
  height: 100vh;
  text-align: center;
  position: relative;
}

.banner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.banner .logo {
  font-family: var(--heading-font);
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}

.banner-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banner-list-item {
  text-transform: capitalize;
  font-family: var(--reg-font);
  font-weight: var(--fw-med-light);
  font-size: 1.25rem;
  color: var(--white);
}

.banner-list-item a {
  color: white;
}

.banner-list-item a:hover {
  color: var(--color);
}

.banner-text-box {
  max-width: 25rem;
  margin: 10rem auto 0;
  /* border: 1px salmon solid; */
}

.banner-title {
  font-family: var(--heading-font);
  color: var(--color);
  letter-spacing: 5px;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.banner-text {
  font-size: 1.5rem;
  color: var(--white);
  line-height: 1.2;
  font-family: var(--reg-font);
  margin-bottom: 4rem;
}

.banner-text span {
  font-style: italic;
  text-decoration: underline;
}

.banner .btn {
  background-color: var(--color);
  font-size: 1.25rem;
  padding: 1rem 2rem;
  color: var(--white);
  text-transform: uppercase;
}

.banner .btn:hover {
  opacity: 0.9;
}

.banner .slider {
  width: 10rem;
  height: 2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.banner .circle {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
}

.circle.active {
  background-color: var(--color);
}

/* header/banner/nav */

/* about ========== */
.about {
  background-color: var(--light-gray);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 1rem 18rem;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}

.about .about-card {
  flex: 0 0 30%;
  background-color: var(--white);
  height: 25rem;
}

.about-card:first-of-type {
  padding: 2.5rem;
  position: relative;
}

.about-card:first-of-type::before {
  content: "";
  border: 1.5px solid var(--color);
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.about-card-title {
  margin-bottom: 1.5rem;
  font-size: 1.85rem;
  color: var(--color);
  font-family: var(--heading-font);
}

.about-card p {
  line-height: 1.5;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.about-link {
  color: var(--color);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.about-link i {
  font-size: 0.85rem;
  transition: all 0.25s;
}

.about-link:hover i {
  transform: translateX(0.4rem);
}

.about .about-card-2 {
  background: url(./images/about-img-not-resized-1.jpg);
  background-size: cover;
}

.about .about-card-3 {
  background: url(./images/about-img-not-resized-2.jpg);
  background-size: cover;
}

.about-card:first-of-type,
.about-card:last-of-type {
  transform: translateY(3rem);
}

/* about ========== */

/* services ===================*/
.services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(./images/services-banner-not-resized.jpg);
  background-size: cover;
  color: var(--white);
  text-align: center;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  padding: 14rem 1rem 18rem;
  transform: translateY(-8rem);
}

.services .section-title {
  margin-bottom: 0;
}

.services p {
  font-size: 1.85rem;
  margin-bottom: 5rem;
}

.services .services-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: space-between;
}

.services-box div {
  height: 15rem;
  position: relative;
  background-color: rgba(242, 172, 50, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-box div:hover img {
  opacity: 0;
}

.services-box::before {
  content: "";
  width: 85%;
  height: 12rem;
  border: 1.5px solid var(--white);
  top: 1.25rem;
  left: 1.25rem;
  position: absolute;
  z-index: 1;
}

.services-box a {
  color: var(--white);
  text-transform: capitalize;
  font-weight: var(--fw-med);
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
}

.services-box a:hover {
  text-decoration: underline;
}

.services-box img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.services-boxes .services-box {
  position: relative;
}

.services-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

/* services ===================*/
